<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.member.mybatis.member.MemberMapper">
	<resultMap type="com.care.member.memberDTO.MemberDTO" id="member">
		<id property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="email" column="email"/>
		<result property="address" column="address"/>
		<result property="imageFileName" column="image_file_name"/>
	</resultMap>

	<insert id="insertUser">
		insert into userTable values(#{id}, #{pw}, #{email}, #{address}, #{imageFileName})
	</insert>
	
	
	<select id="getUserData">
		select * from userTable where id = ${id}
	</select>
	
	<update id="profileUpload">
		update userTable set image_file_name=#{imageFileName} where id=#{id}
	</update>
</mapper>